.advantages {
  font-style: normal;
  text-transform: uppercase;

  &__wrapper {
    margin-bottom: 38px;
  }

  &__item {
    list-style-type: none;
  }

  &__item--blue {
    color: @text-white;
  }

  &__title {
    padding-top: 54px;
    padding-bottom: 11px;
  }

  &__number {
    margin: 0;
    padding-bottom: 17px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }

  &__description {
    margin: 0;
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }

  &__image {
    background-color: @blue-color;
  }
}

.advantages__item {

  &--blue {
  background-color: @blue-color;
  }

  &--grey {
  background-color: @grey-color;
  }
}
