.advantages__item {
  list-style-type: none;

  &--blue {
  background-color: @blue-color;
  }

  &--grey {
  background-color: @grey-color;
  }
}

.advantages__image {
  background-color: @blue-color;
}
