.card__title {
  margin: 0;
  text-transform: uppercase;
  .font-small-bold;
}

.card__author {
  display: block;
  margin-bottom: 11px;
  .font-small;
}

.card__photo {
  margin-bottom: 15px;
  background-color: @grey-color;
}
