.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 23px;
  text-transform: uppercase;
}

.copyright__title {
  margin: 0;
  padding-right: 13px;
  text-align: center;
  .font-small;
}

@media (min-width: @tablet-width) {

  .copyright {
    padding: 0;
  }
}
