.form__wrapper {
  padding-bottom: 53px;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    padding: 95px 60px 0;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    padding: 0 120px;
  }
}
