.intro {
  font-style: normal;
  text-transform: uppercase;
}

.intro__wrapper {
  margin-bottom: 32px;
}

.intro__image {
  background-color: rgba(129, 179, 210, 1);
  background-image: url("../../img/intro-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 32px;
}

.intro__title {
  margin-bottom: 35px;
}

.intro__text {
  margin: 0;
  .font-small;
}
