.intro {
  font-style: normal;
  text-transform: uppercase;

  &__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }

  &__image {
    background-color: rgba(129, 179, 210, 1);
    background-image: url('../../img/intro-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
}

