.main-footer__geolocation {
  margin-bottom: 38px;
}

.main-footer__map {
  background-color: @blue-color;
}

.main-footer__hashtag {
  margin: 0;
  margin-bottom: 33px;
  text-transform: uppercase;
  .font-medium-bold;
}

.main-footer__social {
  margin-bottom: 47px;
}

.main-footer__copyright {
  margin-bottom: 23px;
}
