.main-header {
  position: relative;
  min-height: 56px;
  background-color: @text-white;
}

.main-header__logo {
  position: absolute;
  z-index: 2;
  display: block;
  width: 185px;
  height: 96px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  &:focus {
    outline: 2px solid rgba(84, 150, 189, 1);
  }
}

@media (min-width: @tablet-width) {

  .main-header__logo {
    z-index: 3;
  }
}
