.main-nav__toggle {
  display: flex;
  justify-content: flex-end;
  height: 56px;
  margin: 0 18px;
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
}
