/* ПРИМЕСИ */
.font-small() {
  font-size: @size-small;
  line-height: @line-small;
  font-weight: @width-normal;
}

.font-small-bold() {
  font-size: @size-small;
  line-height: @line-small;
  font-weight: @width-bold;
}

.font-medium() {
  font-size: @size-medium;
  line-height: @line-medium;
  font-weight: @width-normal;
}

.font-medium-bold() {
  font-size: @size-medium;
  line-height: @line-medium;
  font-weight: @width-bold;
}

.font-large() {
  font-size: @size-large;
  line-height: @line-medium;
  font-weight: @width-normal;
}

.font-large-bold() {
  font-size: @size-large;
  line-height: @line-medium;
  font-weight: @width-bold;
}
