.review-form {
  display: flex;
  flex-direction: column;
}

.review-form__container {
  padding: 23px 20px;
  border-top: 1px solid rgba(229, 229, 229, 1);
}

.review-form__container:nth-child(1) {
  padding-bottom: 26px;
}

.review-form__container:nth-child(2) {
  padding-bottom: 20px;
}

.review-form__container:nth-child(3) {
  padding-bottom: 11px;
}

.review-form__container:nth-child(4) {
  padding-bottom: 12px;
}

.review-form__container:nth-child(5) {
  padding-bottom: 30px;
}

.review-form__container:nth-child(6) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 0;
  border: none;
}

.review-form__section {
  padding: 0;
  margin: 0;
  border: none;
}

.review-form__section--person,
.review-form__section--contact-info {
  display: flex;
  flex-direction: column;
}

.review-form__icon {

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(230, 230, 230, 1);
  }

  &--phone::before {
    background-image: url("../img/icon-phone.svg");
  }

  &--email::before {
    background-image: url("../img/icon-mail.svg");
  }
}

.review-form__icon {
  position: relative;
}

.review-form__title {
  text-align: center;
  padding-bottom: 22px;
}

.review-form__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.review-form__item {
  position: relative;
  display: grid;
  grid-template-columns: 16% 84%;
  min-height: 46px;
  margin-bottom: 15px;
}

.review-form__label {
  padding-left: 16px;
  .font-small;
  text-transform: uppercase;
}

.review-form__label--choice {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  text-transform: none;
  .font-medium-bold
}

.review-form__input {
  width: auto;
  height: 58px;
  padding: 0;
  padding-left: 16px;
  margin: 0;
  margin-bottom: 15px;
  border: none;
  background-color: @input-color;
  font-family: inherit;
  .font-medium-bold;
  color: rgba(0, 0, 0, 0.3); /* РАЗОБРАТЬСЯ! */
}

.review-form__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: @input-color;
}

.review-form__section--impression
.review-form__mark {
  border-radius: 50%;
}

.review-form__input:checked +
.review-form__mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-position: center;
}

.review-form__input[type="radio"]:checked +
.review-form__mark {
  background-image: url("../img/radio-mark.svg");
}

.review-form__input[type="checkbox"]:checked +
.review-form__mark {
  background-image: url("../img/checkbox-mark.svg");
}

.review-form__textarea {
  width: 93%;
  min-height: 132px;
  padding-top: 16px;
  padding-left: 16px;
  background-color: @input-color;
  border: none;
  font-family: inherit;
  .font-medium-bold;
  color: rgba(0, 0, 0, 0.3); /* РАЗОБРАТЬСЯ! */
}

.review-form__button {
  width: 100%;
  height: 59px;
}

.review-form__footnote {
  text-align: right;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}

@media (min-width: @tablet-width) {
  .review-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .review-form__container {
    border: none;
    padding: 0;
  }

  .review-form__container:nth-child(1) {
    grid-column: 1/2;
    padding-right: 45px;
  }

  .review-form__container:nth-child(2) {
    grid-column: 2/3;
    padding-left: 45px;
  }

  .review-form__container:nth-child(3) {
    grid-column: 1/3;
    padding-top: 25px;
    padding-bottom: 34px;
  }

  .review-form__container:nth-child(4) {
    grid-column: 1/3;
    padding-bottom: 28px;
  }

  .review-form__container:nth-child(5) {
    grid-column: 1/3;
    padding-bottom: 43px;
  }

  .review-form__container:nth-child(6) {
    grid-column: 1/3;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
  }

  .review-form__title {
    padding-bottom: 28px;
    .font-large-bold;
  }

  .review-form__section--person
  .review-form__title {
    margin-left: 21px;
  }

  .review-form__section--contact-info
  .review-form__title {
    margin-left: -21px;
  }

  .review-form__section--showplace
  .review-form__title {
    padding-left: 185px;
    padding-right: 200px;
  }

  .review-form__list {
    display: grid;
  }

  .review-form__section--impression
  .review-form__list {
    grid-template-columns: 48% 52%;
    margin-left: 37px;
  }

  .review-form__section--showplace
  .review-form__list {
    grid-template-columns: 45% 55%;
    margin-left: 85px;
  }

  .review-form__section--showplace
  .review-form__item {
    grid-template-columns: 20% 80%;
  }

  .review-form__textarea {
    padding: 0;
    width: 100%;
    min-height: 160px;
  }

  .review-form__button {
    width: 325px;
  }

  .review-form__footnote {
    display: block;
    .font-small;
  }
}

@media (min-width: @desktop-width) {

  .review-form__container:nth-child(2) {
    padding-left: 80px;
  }

  .review-form__container:nth-child(3) {
    padding-top: 31px;
    padding-bottom: 73px;
  }

  .review-form__container:nth-child(4) {
    padding-bottom: 87px;
  }

  .review-form__container:nth-child(5) {
    padding-left: 95px;
    padding-right: 95px;
  }

  .review-form__container:nth-child(6) {
    padding-left: 95px;
    padding-right: 95px;
  }

  .review-form__section--impression
  .review-form__title {
    padding-bottom: 45px;
  }

  .review-form__section--showplace
  .review-form__title {
    padding-left: 340px;
    padding-right: 400px;
    padding-bottom: 60px;
  }

  .review-form__section--impression
  .review-form__list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .review-form__section--showplace
  .review-form__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 40px;
    margin-right: 50px;
  }

  .review-form__item {
    margin: 0;
  }

  .review-form__section--impression
  .review-form__item {
    padding-left: 15px;
  }
  .review-form__button {
    width: 384px;
  }
}
