.search {
  text-transform: uppercase;

  &__wrapper {
    margin-bottom: 50px;
  }

  &__title  {
    margin-bottom: 17px;
  }

  &__text {
    margin: 0;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }

  &__button {
    display: block;
    padding: 16px 49px;
  }
}
