.search {
  text-transform: uppercase;
}

.search__wrapper {
  padding: 0 18px 26px;
  text-align: center;
}

.search__title {
  .font-large-bold;
  margin-bottom: 20px;
}

.search__text {
  margin: 0;
  margin-bottom: 32px;
  .font-small;
}

.search__button {
  display: block;
  text-align: center;
  padding: 16px 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}
