.social__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
  margin: 0;
  padding: 0;
}

.social__icon {
  fill: @text-white;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: @blue-color;
  list-style-type: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.social__link:hover {
  background-color: rgba(102, 158, 192, 1);
}

.social__link:focus {
  outline: 2px solid rgba(84, 150, 189, 1);
}

.social__link:active {
  background-color: rgba(102, 158, 192, 1);

  .social__icon {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    padding-right: 3px;
  }
}
