.subadvantages {

  &__item {
    color: @text-black;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 1);
  }

  &__title {
    padding-top: 30px;
    padding-bottom: 16px;
  }

  &__description {
    margin: 0;
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
}
